
<!DOCTYPE html>
<html>
<head>
<title></title>
<h1> </h1>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <form action="/" method="POST">Enter your name:
        <input type="text" name="name"/>
        <input type="submit" value="Enter Chat!"/>
      </form>
</body>
</html>

